@using Masa.Blazor
<div style="display:flex; justify-content:space-between">
    <Label Name="@Name" Small/>
    <div class="ml-2" style="max-width:180px">
        <MTextField TValue="string" Solo Dense Value="Value" ValueChanged="ValueChanged" HideDetails="true"></MTextField>
    </div>
   
</div>

@code {
    [Parameter]
    public string Value { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public bool Small { get; set; } = true;
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
}
