<span class="@($"font-weight-light {Class}")" style="@($"display: flex;align-items: center;font-size: {(Small ? "0.8rem" : "0.95rem")};font-weight: {(Bold ? "700" : "300")}!important;")">
    @Name
</span>
@code {

    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public bool Small { get; set; } = true;

    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public bool Bold { get; set; } = false;
}