@using Microsoft.AspNetCore.Components.Forms
@using Watermark.Win.Models
@using Microsoft.AspNetCore.Components
@using System.ComponentModel.DataAnnotations

<MudDialog Style="min-width:50%;">
    <DialogContent>
        <MudSimpleTable Hover="true" Dense="true" FixedHeader="false" Style="height:80%;">
            <thead>
                <tr>
                    @foreach (var h in headings)
                    {
                        <th>@h</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Exifs.OrderBy(x=>x.Key))
                {
                    <tr>
                        <td>@row.Key</td>
                        <td>@row.Value</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </DialogContent>
</MudDialog>



@code {
    [Parameter]
    public Dictionary<string, string> Exifs { get; set; } = [];
    List<string> headings = ["EXIF信息摘要", "值"];

}