################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bin/Debug/net8.0-windows
/bin/Debug/net8.0-windows/runtimes/win-arm64/native/WebView2Loader.dll
/obj
/bin/Release/net8.0-windows
/Watermark.Win.csproj.user
/Properties/PublishProfiles/FolderProfile.pubxml.user
/Watermark.Win/bin
/Watermark.Win/obj
/Watermark.Web/obj
/Watermark.Win/Properties/PublishProfiles
/Watermark.Shared/obj
/Watermark.Shared/bin
/Watermark.Web/obj
/Watermark.Web/bin
/Watermark.Web/Watermark.Web.csproj.user
/Watermark.Shared/bin
/Watermark.Web/Watermark.Web/Properties/PublishProfiles
/Watermark.Web/Watermark.Web.Client/Properties/PublishProfiles
*.user
/Watermark.Web/Watermark.Web/obj
/Watermark.Web/Watermark.Web.Client/obj
/Watermark.Web/Watermark.Web.Client/bin
/Watermark.Web/Watermark.Web/bin
/Watermark.Andorid/obj
/Watermark.Andorid/bin
/Watermark.Shared
Watermark.Web/Watermark.Web.Client/Properties/
Watermark.Web/Watermark.Web/Properties/
Watermark.Web/Watermark.Web/Properties/launchSettings.json
Watermark.Andorid/Properties/PublishProfiles/FolderProfile net8.0-maccatalyst.pubxml
Watermark.Andorid/.DS_Store
.idea/.idea.Watermark/.idea/
.DS_Store
global.json
/.idea
/Watermark.Razor/bin/Debug/net8.0
/Watermark.Razor/obj
/Watermark.Razor/bin/Release/net8.0
