################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bin/Debug/net8.0-windows
/bin/Debug/net8.0-windows/runtimes/win-arm64/native/WebView2Loader.dll
/obj
/bin/Release/net8.0-windows
/Watermark.Win.csproj.user
/Properties/PublishProfiles/FolderProfile.pubxml.user
/Watermark.Win/bin
/Watermark.Win/obj
/Watermark.Web/obj
/Watermark.Win/Properties/PublishProfiles
/Watermark.Shared/obj
/Watermark.Shared/bin/Debug/net8.0
/Watermark.Web/obj/Debug/
/Watermark.Web/obj/Debug/net8.0/Watermark.Web.assets.cache
/Watermark.Web/bin/Debug/net8.0
/Watermark.Web/Watermark.Web.csproj.user
/Watermark.Shared/bin
/Watermark.Web/Watermark.Web/Properties/PublishProfiles
/Watermark.Web/Watermark.Web.Client/Properties/PublishProfiles
*.user
/Watermark.Web/Watermark.Web/obj
/Watermark.Web/Watermark.Web.Client/obj
/Watermark.Web/Watermark.Web.Client/bin
/Watermark.Web/Watermark.Web/bin
/Watermark.Andorid/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/Watermark.Andorid/obj
