################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bin/Debug/net8.0-windows
/bin/Debug/net8.0-windows/runtimes/win-arm64/native/WebView2Loader.dll
/obj
/bin/Release/net8.0-windows
/Watermark.Win.csproj.user
/Properties/PublishProfiles/FolderProfile.pubxml.user
