@inherits LayoutComponentBase

    <MudThemeProvider IsDarkMode="true"/>
    <MudDialogProvider />
    <MudSnackbarProvider />
    <div class="page">
        <div class="sidebar" style="display:none;">
            @*<NavMenu />*@
        </div>

            @Body
    </div>
