@using Watermark.Win.Models
@inherits LayoutComponentBase

    <MudThemeProvider IsDarkMode="@Global.DarkMode"/>
    <MudDialogProvider />
    <MudSnackbarProvider />
    <div class="page">
        <div class="sidebar" style="display:none;">
            @*<NavMenu />*@
        </div>

            @Body
    </div>
