@using Watermark.Win.Models
@inherits LayoutComponentBase

    <div class="page" style="height:100%;width:100%">
        <div class="sidebar" style="display:none;">
            @*<NavMenu />*@
        </div>

            @Body
    </div>
