@using Watermark.Shared.Models

<WmCard Elevation="0">
    <div class="d-flex justify-end pa-2">
        <WmButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="primary" Class="ml-auto" OnClick="Export">保存</WmButton>
    </div>
    <WmCardContent>
        <WmForm>
            <MSelect @bind-Value="Global.Resolution" Items="ResolutionOptions" TItem="KeyValuePair<string, string>" TValue="string" TItemValue="string"
                     ItemText="u => u.Value" ItemValue="u => u.Key" Label="分辨率" Dense />
            <MSelect @bind-Value="Global.Quality" Items="QualityOptions" TItem="KeyValuePair<int, string>" TValue="int" TItemValue="int"
                     ItemText="u => u.Value" ItemValue="u => u.Key" Label="图片质量" Dense />
            @* <WmTextField Label="输出目录" Value="@("Pictures/DaVinciFrameMaster")" Variant="Variant.Text" ReadOnly="true" Margin="Margin.Dense" /> *@
        </WmForm>
    </WmCardContent>
</WmCard>

            
@code {
    private static readonly List<KeyValuePair<string, string>> ResolutionOptions =
    [new("default", "原图"), new("1080", "1080P"), new("2160", "4K")];
    private static readonly List<KeyValuePair<int, string>> QualityOptions =
    [new(100, "原图"), new(85, "高"), new(70, "中")];

    [Parameter]
    public EventCallback ExportEvent { get; set; }

    void Export() 
    {
        if (ExportEvent.HasDelegate) ExportEvent.InvokeAsync();
    }
}
