@using MudBlazor
<MudDialog Options="DialogOptions" Style="width:400px;">
    <DialogContent>
        <MudForm>
            <MudTextField @bind-Value="Name" T="string" Label="模板名称" Required="true" RequiredError="模板名称不能为空" />
            <MudTextField @bind-Value="Desc" T="string" Label="模板描述" Lines="3" />
            <MudTextField @bind-Value="Coin" T="int" Required Label="下载点数"/>
            <MudCheckBox Required ErrorText="@("请同意用户协议")" @bind-Value="agreeUserProtocol" T="bool"><a> <span @onclick="() => _expanded = !_expanded">同意用户协议</span> </a></MudCheckBox>
            <MudCollapse Expanded="_expanded">
                •请勿使用含有版权的图片或者图标(使用可商用代替)<br>
                •请勿使用商用付费的字体文件<br>
                •若发现侵权作品或资源，管理员将直接删除
            </MudCollapse>
            
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton FullWidth="true" Variant="Variant.Filled" OnClick="OK">确定</MudButton>
    </DialogActions>
</MudDialog>
 @code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    DialogOptions DialogOptions { get; set; } = new DialogOptions() { MaxWidth = MaxWidth.Medium, NoHeader = true };

    [Parameter]
    public string Name{ get; set; }
    string Desc { get; set; }
    int Coin { get; set; } = 0;
    bool _expanded{ get; set; }
    bool agreeUserProtocol = false;

    void OK()
    {
        if (string.IsNullOrEmpty(Name) || !agreeUserProtocol) return;
        MudDialog.Close(new { Name, Desc, Coin });
    }
}
