.wm-icon {
    color: inherit;
    display: inline-block;
    flex: 0 0 auto;
    line-height: 1;
    overflow: visible;
    vertical-align: middle;
}

.wm-icon--left {
    margin-right: 8px;
}

.wm-icon--right {
    margin-left: 8px;
}

.wm-icon--disabled {
    opacity: .42;
}
