<Project>
  <PropertyGroup>
    <MacDistributionChannel>AppStore</MacDistributionChannel>
    <SelfContained>true</SelfContained>
    <EnableCodeSigning>true</EnableCodeSigning>
    <EnablePackageSigning>true</EnablePackageSigning>
    <CreatePackage>true</CreatePackage>
    <CodesignEntitlements>Platforms/MacCatalyst/Entitlements.plist</CodesignEntitlements>
  </PropertyGroup>
</Project>
