@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
      @Body
</div>

@if (!IsLandingPage)
{
    <div id="blazor-error-ui" role="alert">
        页面连接已更新，请刷新后继续。
        <a href="" class="reload">刷新页面</a>
        <a class="dismiss" aria-label="关闭提示">🗙</a>
    </div>
}

@code {
    private bool IsLandingPage => new Uri(NavigationManager.Uri).AbsolutePath == "/";
}
