@page "/dms"
@using Watermark.Razor.Components.Dashboard
@using Watermark.Razor.Components.Layout
@layout MainLayout
@inherits PStackPageBase
@inject PageStackNavController NavController

<PStackPageBarInit Title="运营看板" Dense Flat CenterTitle />
<div class="dashboard-route-host">
    <AdminDashboard ShowClose="true" Close="() => NavController.Pop()" />
</div>

<style>
    .dashboard-route-host {
        height: 100%;
        min-height: 0;
        overflow: hidden;
        width: 100%;
    }
</style>
