@page "/login"
@using Components.Layout;
@using Watermark.Shared.Models
@layout MainLayout
@inject PageStackNavController NavController
@inherits PStackPageBase
@inject IClientInstance ClientInstance

<PStackPageBarInit Title="登录" Dense Flat CenterTitle>
</PStackPageBarInit>
<div style="padding:24px;text-align:center;">
    <Watermark.Razor.Components.LoginContent CloseEvent="@((v) => NavController.Pop())" />
</div>


@code {
    protected override void OnInitialized()
    {
        if(Global.DeviceType == Shared.Enums.DeviceType.Andorid) 
        {
            ClientInstance.SetColor();
        }
        base.OnInitialized();
    }
}