@page "/logout"
@using Components.Layout;
@using Watermark.Razor.Components
@using Watermark.Shared.Models
@layout MainLayout
@inject PageStackNavController NavController
@inherits PStackPageBase
@inject IClientInstance ClientInstance

<PStackPageBarInit Title="注销" Dense Flat CenterTitle>
</PStackPageBarInit>
<div style="padding:24px;text-align:center;">
    <LogoutContent CloseEvent="@((v) => NavController.Pop())" />
</div>


@code {
    protected override void OnInitialized()
    {
        ClientInstance.SetColor();
    }
}