@using Masa.Blazor
@using Watermark.Razor.BlazorPages
@using Watermark.Razor.Parts
@using Watermark.Shared.Models
@inherits LayoutComponentBase
@inject IClientInstance ClientInstance
@inject APIHelper api

<MudThemeProvider IsDarkMode="@GlobalConfig.DARK_MODE" />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="page">
    <MApp>
        <MMain>
            <MErrorHandler>
                <PPageStack TabbedPatterns="@(["^/$", "/market", "/settings", "/test"])">
                    <MContainer Style="padding:0px !important;height:calc(100vh - 56px);overflow:hidden">
                        @Body
                    </MContainer>
                </PPageStack>
            </MErrorHandler>
        </MMain>
        <MBottomNavigation @bind-Value="Value"
                           App
                           Grow
                           Shift
                           Color="primary">
            <MButton Href="/" Class="h">
                <span>我的模板</span>
                <MIcon>mdi-download-box</MIcon>
            </MButton>
            <MButton Href="/market" Class="h">
                <span>模板市场</span>
                <MIcon>mdi-shopping</MIcon>
            </MButton>
            <MButton Href="/settings" Class="h">
                <span>我</span>
                <MIcon>mdi-account</MIcon>
            </MButton>
        </MBottomNavigation>
    </MApp>
</div>


<MDialog Value="!GlobalConfig.AGREE_PRIVATE" Fullscreen Transition="" ContentStyle="display:flex;">
    <FirstPage OnClosed="OnSave" />
</MDialog>
<style>
    .h {
    }

    .page .h .m-btn__content:hover {
        background: white !important;
    }

    .page .m-btn:not(.m-btn--round).m-size--default {
        padding: 0 !important
    }
</style>

@code {
    StringNumber v = 0;
    StringNumber Value
    {
        get => v;
        set
        {
            v = value;
            ClientInstance.Haptic();
            StateHasChanged();
        }
    }
    bool OpenPrivate = false;

    protected override async Task OnInitializedAsync()
    {
        await Global.InitTemplateMarket(api);
    }

    void OnSave(bool v)
    {
        GlobalConfig.AGREE_PRIVATE = v;
    }
}